<section class="portfolioAndSkills">
<div class="row">
    <div class="column">
        <img src="/images/assets/Diploma.jpg" />
    </div>
    <div class="column">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</section>

<section>
    <h2>
        Noteable Projects
    </h2>
    <!-- 
    Add a live link to the site 
    Add a screenshot of the site
    Add a description of the site
    Add the tech specs I used on the site 
    -->
</section>