<section class="portfolioAndSkills">
<div class="row">
    <div class="column">
        <img src="/images/assets/Diploma.jpg" />
    </div>
    <div class="column">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</section>

<section class="notableProjects">
    <h2>
        Noteable Projects
    </h2>
    <!-- 
    Add a live link to the site 
    Add a screenshot of the site
    Add a description of the site
    Add the tech specs I used on the site 
    -->
    <a href="">Conageddon CopyCat Site</a><br />
    <img src="./images/assets/conageddonSiteScreenshot.png" class="siteScreenshot"/><br />
    <p>
        This site is an exact copy of the <a href="https://conageddon.com">conageddon</a> website. It is meant to showcase my development skills to potential employers or freelance clients.
    </p>
    <ul>
        <li>Node.JS Express Handlebars</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>NPM Package Manager</li>
        <li>Github</li>
        <li>Continuous Deployment</li>
    </ul>>
</section>