<!DOCTYPE html>
<html>
  <head>
    <title>Justin Battrick | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="{{title}}">
    <header>
      <header>
      <h1>
        <a href="/">Justin Battrick</a>
      </h1>
      <nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/links">Professional Links</a></li>
          <!-- Only Seen when logged out -->
          <li><a href="/Authentication Pages/login">Login</a></li>
          <!-- Only seen when logged in -->
          <li><a href="/Authentication Pages/universalPlaylist">Universal Playlist</a></li>        
          <li><a href="/Authentication Pages/account">Account</a></li>
          <li><a href="/Authentication Pages/logout">Logout</a></li><!-- nested -->
        </ul>
      </nav>
    </header>
    </header>
    {{{body}}}
  </body>
</html>
