<!DOCTYPE html>
<html>
  <head>
    <title>Justin Battrick | {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="{{title}}">
    <header>
      <header>
      <h1>
        <a href="/">Justin Battrick</a>
      </h1>
      <nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="/links">Professional Links</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </nav>
    </header>
    </header>
    {{{body}}}
  </body>
</html>
