<div class="row">
    <div class="column">
        <img src="../images/assets/Diploma.jpg" alt="Diploma" class="diplomaImage" />
    </div>

    <div class="skills column">
        <h2>Skills</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>NodeJs</li>
            <li>NPM</li>
            <li>Github</li>
            <li>MySQL</li>
            <li>Domain Management</li>
            <li>SSL Certificates</li>
            <li>CI/CD Deployment</li>
        </ul>
    </div>
</div>


