<h2>Conageddon</h2>
<img src="../images/assets/conageddonSiteScreenshot.png" class="siteScreenshot" />
<p>Based on the <a href="https://conageddon.com/">offical Conageddon website</a>.</p><br />
<p>Live Link: <a href="https://conageddon-c5f1e5e1e40a.herokuapp.com/">https://conageddon-c5f1e5e1e40a.herokuapp.com/</a></p><br />
<p>Skills Used: </p><br /><br />
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>NodeJS</li>
    <li>CI/CD Deployment</li>
    <li>Github</li>
</ul>