<div class="project row">
    <div class="column">
        <h2>Conageddon</h2>
        <img src="../images/assets/conageddonSiteScreenshot.png" alt="Conageddon Copycat Site Screenshot" />
        <p>
            Based on the <a href="https://conageddon.com">official Conageddon site</a>.<br />
            Live Link: <a href="https://conageddon-c5f1e5e1e40a.herokuapp.com">https://conageddon-c5f1e5e1e40a.herokuapp.com</a><br />
            Skills Used: <br />
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>NodeJS</li>
                <li>CI/CD Deployment</li>
                <li>Github</li>
            </ul>
        </p>
    </div>
    <div class="column">
        
    </div>
    <div class="column">
        
    </div>
</div>