<div class="project row">
    <div class="column">
        <h2>Conageddon</h2>
        <img src="../images/assets/conageddonSiteScreenshot.png" alt="Conageddon Copycat Site Screenshot" />
        <p>
            Based on the <a href="https://conageddon.com" target=”_blank”>official Conageddon site</a>.<br />
            Live Link: <a href="https://conageddon-c5f1e5e1e40a.herokuapp.com" target=”_blank”>https://conageddon-c5f1e5e1e40a.herokuapp.com</a><br />
            Skills Used: <br />
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>NodeJS</li>
                <li>CI/CD Deployment</li>
                <li>Github</li>
            </ul>
        </p>
    </div>
    <div class="column">
        <h2>Sabrina Carpenter</h2>
        <img src="../images/assets/sabrinaSiteScreenshot.png" alt="Sabrina Carpenter Copycat Site Screenshot" />
        <p>
            This site is still a work in progress.<br />
            Based on the <a href="https://sabrinacarpenter.com" target=”_blank”>official Sabrina Carpenter site</a>.<br />
            Live Link: <a href="https://sabrina-carpenter-clone-site-b3aaaa49a2c5.herokuapp.com" target=”_blank”>https://sabrina-carpenter-clone-site-b3aaaa49a2c5.herokuapp.com</a><br />
            Skills Used: <br />
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>NodeJS</li>
                <li>CI/CD Deployment</li>
                <li>Github</li>
            </ul>
        </p>
    </div>
    <div class="column">
        
    </div>
</div>