/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  
}

/* Header Styles */
header {
  background-color: rgba(0,0,0,255);
}

h1 {
  margin: 0;
  padding: 2vh;
}

h1 a {
  text-decoration-line: none;
  color: rgba(255,255,255,255 );
}

h1 {
  text-align: center;
}

/* Nav Styles */
li {
  list-style-type: none;
  margin-left: 2vw;
  padding-bottom: 2vh;
}

li a {
  text-decoration: none;
  color: rgba(255,255,255,255 );
}

ul {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Portfolio Page */
h2 {
  text-align: center;
}

.siteScreenshot {
  width: 35%;
}

/* Homepage */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div img {
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}