/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  
}

/* Header Styles */
header {
  background-color: rgba(0,0,0,255);
}

h1 {
  margin: 0;
  padding: 2vh;
}

h1 a {
  text-decoration-line: none;
  color: rgba(255,255,255,255 );
}

h1 {
  text-align: center;
}

/* Nav Styles */
nav li {
  list-style-type: none;
  margin-left: 2vw;
  padding-bottom: 2vh;
}

nav li a {
  text-decoration: none;
  color: rgba(255,255,255,255 );
}

nav ul {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

/* Portfolio Page */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Portfolio img {
  width: 80%;
  height: 50%;
  padding-left: 5vw;
}

/* Professional Links */
.links {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.links img {
  width: 20vw;
}

/* Projects */
.Projects .column {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.Projects .row:after {
  content: "";
  display: table;
  clear: both;
}

.Projects .project {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.Projects .project img {
  width: 25vw;
}

.Projects .project h2 {
  text-align: center;
}